<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title>
    <link rel="stylesheet" href="./main.css">

</head>

<body>

    <h1 align="center">BACKEND TECHNOLOGIES</h1><br>
    <h1 align="center" >Experiment - 1.2</h1>
    <h2 align="center" >Rudranarayan Roul || 22MCA20958</h2>
    <div class="container">
        <div class="myform">
            <input style="border: none;" type="text" name="fname" id="first_name" placeholder="Enter Your Name"><br><br>
            <input style="border: none;" type="text" name="working_hours" id="hours" placeholder="Enter working hours"><br><br>
            <input style="border: none;" type="number" name="Rate" id="rate" placeholder="Enter rate per hour"><br><br>
            <button onclick="calculate()" id="btn" name="result">Calculate Salary</button><br><br>
            Employee Salary is (RS.):₹<input type="text" id="answer">
        </div>
    </div>
    <img src="./hands-1697896.jpg" alt="" id="image">
    <script src="./main.js"></script>
</body>

</html>